/* Modal - Common */
html:has(.modal-wrapper) {
  overflow-y: hidden;
}
.modal-wrapper {
  z-index: 1;
  position: fixed;
  background: rgba($color: #000000, $alpha: 0.8);
  inset: 0;
  @keyframes fadeIn {
    0% {
      opacity: 0;
      margin-top: 50px;
    }
    100% {
      opacity: 1;
      margin-top: 0;
    }
  }
  > section {
    animation: fadeIn 0.3s ease-in-out;
  }
}
/* ChargeModal */
#charge-modal .credit-item {
  cursor: pointer;
}
/* ErrorModal */
#error-modal {
  background-image: url("../assets/img/credit_jewel.svg");
  background-size: 113px;
  background-position: center 56px;
  background-repeat: no-repeat;
  text-align: center;
  #error-image {
    height: 113px;
  }
}
#error-modal:has(.credit) {
  background-image: url("../assets/img/credit_113px.svg");
  background-size: 187px;
  background-position: center 4px;
}
/* VoteModal */
#vote-modal .list-wrapper {
  max-height: 455px;
  overflow-y: auto;
  padding-right: 8px;
  > #modal-list-item {
    padding: 8px 0;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  }
}
