.number-input {
  appearance: textfield;
  background-color: #272f3d;
  border-radius: 5px;
  width: 250px;
  height: 45px;
  color: white;
  border: 1px solid var(--border-color, white); // 테두리 색상 CSS 변수 사용

  /* 화살표 제거 스타일 추가 */
  &::-webkit-outer-spin-button,
  &::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  -moz-appearance: textfield;
}
