.toast-wrapper {
    z-index: 1;
    position: fixed;
    inset: 0;
    @keyframes fadeIn {
      0% {
        opacity: 0;
      }
      100% {
        opacity: 1;
      }
    }
    @keyframes fadeOut {
      0% {
        opacity: 1;
      }
      100% {
        opacity: 0;
        bottom: 0;
      }
    }
    > span.toast {
      position: relative;
      padding: 12px 20px;
      bottom: 120px;
      border-radius: 9999px;
      background-color: var(--gray-67666E);
      box-shadow: rgba($color: #f7f7f8, $alpha: 0.6) 0 0 15px 12px;
      animation: fadeIn 0.5s ease-in-out;
    }
    > span.toast.close {
      animation: fadeOut 0.5s ease-out;
    }
  }