/* Button */
button,
button.medium,
.button {
  width: 240px;
  height: 48px;
  border-radius: 40px;
  background-color: var(--primary-100);
  border: 0;
  color: #ffffff;
  font-size: 18px;
  line-height: 26px;
  font-weight: 600;
}
button.large,
.button.large {
  width: fit-content;
  min-width: 357px;
  height: 56px;
  font-size: 20px;
  line-height: 32px;
}
button.small-40,
.button.small-40 {
  width: fit-content;
  min-width: 88px;
  height: 42px;
  font-size: 16px;
  line-height: 26px;
  border-radius: 8px;
}
button.small-48,
.button.small-48 {
  width: fit-content;
  min-width: 88px;
  height: 48px;
  font-size: 16px;
  line-height: 26px;
  border-radius: 8px;
}
button:hover {
  background-color: var(--primary-200);
  cursor: pointer;
}
button:active {
  background-color: var(--primary-300);
}
button:disabled {
  background-color: var(--secondary-400);
  cursor: not-allowed;
}
button.icon-wrapper {
  padding: 0;
  width: fit-content;
  height: fit-content;
  background-color: transparent;
}
