button {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  gap: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 3px;
  background-color: transparent;
  color: var(--white-ffffff);
  font-weight: 700;
  font-size: 14px;
  line-height: 26px;
  letter-spacing: 2%;
  cursor: pointer;
}
button:disabled {
  cursor: not-allowed;
}
/* button style */
button.primary {
  background: linear-gradient(var(--brand-orange), var(--brand-pink));
}
button.primary:disabled {
  background: var(--gray-828282);
}
button.outlined {
  border: 1px solid #f1eef9;
  background-color: rgba($color: #ffffff, $alpha: 0.1);
  padding: 8px 143px;
}
button.outlined-bottom {
  border-bottom: 1px solid #f1eef9;
  background-color: rgba($color: #ffffff, $alpha: 0.1);
  padding: 8px 143px;
}
button.invert {
  color: var(--gray-828282);
  background-color: transparent;
}
/* button size */
button.free {
  width: inherit;
}
button.large {
  width: 477px;
  height: 42px;
}
button.semi-large {
  width: 326px;
  height: 42px;
}
button.medium {
  width: 295px;
  height: 42px;
  @media (width < 768px) {
    width: 142px;
    height: fit-content;
  }
}
button.small {
  width: 234px;
  height: 40px;
  padding: 2px 16px 3px;
  font-size: 13px;
  line-height: normal;
}
button.extra-small {
  width: 128px;
  height: 32px;
  padding: 2px 16px 3px;
  font-size: 13px;
  line-height: normal;
}
/* button shape */
button.round {
  width: 255px;
  height: 48px;
  border-radius: 24px;
}
