* {
  margin: 0;
  font-family: "Pretendard Variable", sans-serif;
  letter-spacing: 0;
  vertical-align: middle;
}
/* font weight */
.text-bold {
  font-weight: 700;
}
.text-semibold {
  font-weight: 600;
}
.text-medium {
  font-weight: 500;
}
.text-regular {
  font-weight: 400;
}
/* font size */
.text-26 {
  font-size: 26px;
  line-height: 31.03px;
}
.text-24 {
  font-size: 24px;
  line-height: 26px;
}
.text-20 {
  font-size: 20px;
  line-height: 26px;
}
.text-18 {
  font-size: 18px;
  line-height: 21.48px;
}
.text-16 {
  font-size: 16px;
  line-height: 19.09px;
}
.text-15 {
  font-size: 15px;
  line-height: 26px;
}
.text-14 {
  font-size: 14px;
  line-height: 16.71px;
}
.text-13 {
  font-size: 13px;
  line-height: 26px;
}
.text-12 {
  font-size: 12px;
  line-height: 14.32px;
}
/* line height */
line-height-26 {
  line-height: 26px;
}
.line-height-18 {
  line-height: 18px;
}
/* letter spacing */
.letter-spacing-5 {
  letter-spacing: 5%;
}
.letter-spacing-2 {
  letter-spacing: 2%;
}
.letter-spacing-small {
  letter-spacing: -0.17px;
}
