@use "reset";
@use "layout";
@use "typography";
@use "button";
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
a {
	text-decoration: none;
	color: inherit;
}
/* color */
:root {
	--primary-100: #3692ff;
	--primary-200: #1967d6;
	--primary-300: #1251aa;
	--error-red: #f74747;
	--secondary-900: #111827;
	--secondary-800: #1f2937;
	--secondary-700: #374151;
	--secondary-600: #4b5563;
	--secondary-500: #6b7280;
	--secondary-400: #9ca3af;
	--secondary-300: #e5e7eb;
	--secondary-200: #f3f4f6;
	--secondary-100: #f9fafb;
	--cool-gray-100: #f3f4f6;
}
