@use "reset";
@use "color";
@use "layout";
@use "typography";
@use "button";

html {
	background-color: var(--black-02000E);
	color: var(--white-ffffff);
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
a {
	text-decoration: none;
	color: inherit;
}
