#chart-container {
  #chart-title {
    font-size: 24px;
    line-height: 26px;
  }
  #chart-tab > button {
    flex-grow: 1;
    padding: 12px;

    &.active {
      background-color: rgba(255, 255, 255, 0.1);
      border-bottom: 1px solid #ffffff;
    }
  }
  ul {
    flex-wrap: wrap;
    gap: 0px 24px;
    li {
      width: 49%;
      border-bottom: 1px solid rgba(255, 255, 255, 0.1);
      padding: 8px 0px;
      &:nth-last-of-type(1):nth-of-type(odd),
      &:nth-last-of-type(1):nth-of-type(even) {
        border-bottom: none;
      }
      &:nth-last-of-type(2):nth-of-type(odd) {
        border-bottom: none;
      }
    }
  }
  .divider {
    width: 49%;
    height: 1px;
    background-color: rgba(255, 255, 255, 0.1);
  }
  @media (width < 1200px) {
    #chart-title {
      font-size: 20px;
    }
    ul {
      li {
        width: 100%;
      }
    }
  }
  @media (width < 768px) {
    gap: 16px;
    #chart-title {
      font-size: 16px;
    }
  }
}
