#chart-wrapper {
  #chart-container {
    gap: 24px;
    #chart-title {
      font-size: 24px;
      line-height: 26px;
    }
    #chart-tab > button {
      flex-grow: 1;
      padding: 12px;

      &.active {
        background-color: rgba(255, 255, 255, 0.1);
        border-bottom: 1px solid #ffffff;
      }
    }
    ul {
      flex-wrap: wrap;
      gap: 17px 24px;
      li {
        width: 49%;
      }
    }
    .divider {
      width: 49%;
      height: 1px;
      background-color: rgba(255, 255, 255, 0.1);
    }
    @media (width < 1200px) {
      #chart-title {
        font-size: 20px;
      }
      ul {
        li {
          width: 100%;
        }
      }
    }
    @media (width < 768px) {
      gap: 16px;
      #chart-title {
        font-size: 16px;
      }
    }
  }
  #btn-more {
    width: 326px;
    height: 42px;
    border: 1px solid rgba(241, 238, 249, 0.8);
    background-color: rgba(255, 255, 255, 0.1);
    margin-top: 51px;
  }
}
