#chart-tab > button {
  flex-grow: 1;
  padding: 12px;
}

#chart-tab > button.active {
  background-color: rgba(255, 255, 255, 0.1);
  border-bottom: 1px solid #ffffff;
}

ul {
  flex-wrap: wrap;
  gap: 17px 24px;
}

li {
  width: 49%;
}

.divider {
  width: 49%;
  height: 1px;
  background-color: rgba(255, 255, 255, 0.1);
}

@media (width < 1200px) {
  li {
    width: 100%;
  }
}
