html:has(.loader-wrapper) {
  overflow-y: hidden;
}
.loader-wrapper {
  z-index: 1;
  position: fixed;
  background: rgba($color: #828282, $alpha: 0.35);
  inset: 0;
  > img:first-child {
    left: 90px;
  }
  > img:nth-child(2) {
    left: 45px;
  }
  > img:nth-child(4) {
    left: -45px;
  }
  > img:last-child {
    left: -90px;
  }
  @keyframes loader-move {
    0% {
      // left: auto;
    }
    100% {
      left: 0;
    }
  }
  > img {
    position: relative;
    animation: loader-move 1s ease-in infinite;
  }
}
